importFrom("AnnotationDbi", mget)
importFrom("Matrix", Matrix)
importFrom("kernlab", as.kernelMatrix,  kernelMatrix, ksvm, vanilladot, alphaindex, rbfdot)
importFrom("samr",samr.compute.delta.table, samr,  samr.compute.siggenes.table)
importFrom("graph",subGraph, adj )
importFrom("igraph", graph.adjacency,graph.laplacian)
importFrom("ROCR",prediction, performance)


export(cv.aep)
export(cv.pac)
export(cv.hubc)
export(cv.frsvm)
export(cv.stsvm)

export(classify.aep)
export(classify.pac)
export(classify.hubc)
export(classify.frsvm)
export(classify.stsvm)

export(train.aep)
export(train.pac)
export(train.hubc)
export(train.frsvm)
export(train.stsvm)

export(predictAep)
export(predictPac)
export(predictHubc)
export(predictFrsvm)
export(predictStsvm)

export(calc.diffusionKernelp)
export(pGeneRANK)
export(getGraphRank)
export(getGeneRanking)
export(pOfHubs)
export(probeset2pathway)
export(probeset2pathwayTrain)
export(probeset2pathwayTst)

