importMethodsFrom(AnnotationDbi, mget)
export(aep.cv)
export(pac.cv)
export(hubc.cv)
export(FrSVM.cv)
export(stsvm.cv)
export(classify.aep)
export(classify.pac)
export(classify.hubc)
export(classify.frsvm)
export(classify.stsvm)
export(calc.diffusionKernelp)
export(pGeneRANK)
export(getGraphRank)
export(getGeneRanking)
export(pOfHubs)
export(probeset2pathway)
export(probeset2pathwayTrain)
export(probeset2pathwayTst)

